/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);
* {
  box-sizing: border-box;
  transition: 0.4s ease;
}
body {
  margin: 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}
