.search-container {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  .search-form {
    border-radius: 40px;
    input,
    button {
      border: none;
      font-size: 16px;
      outline: none;
      padding: 10px 12px;
    }

    input {
      background-color: transparent;
      border: 1px solid #d1d1d1;
      border-radius: 10rem 0 0 10rem;

      &::placeholder {
        font-size: 14px;
      }
    }

    button {
      color: #fff;
      cursor: pointer;
      border: 1px solid #aa0000;
      background-color: #aa0000;
      border-radius: 0 10rem 10rem 0;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
